<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/" routerLinkActive="active" >Chihiro's Kittens!</a>

  <button dropdown class="navbar-toggler" (click)="toggleCollapsed()" type="button" dropdownToggle data-toggle="collapse">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div [ngClass]="{ 'show': !isCollapsed }" class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link"  routerLink="/" routerLinkActive="active">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown" dropdown>
        <a class="nav-link dropdown-toggle" dropdownToggle id="parentsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Parents
        </a>
        <div class="dropdown-menu" *dropdownMenu aria-labelledby="parentsDropdown">
          <a *ngFor="let parentCat of (catsState| async).parents ; let i = index" class="dropdown-item"
             [routerLink]="['/parents', i]"
             routerLinkActive="active">{{parentCat.name}}
            <fa-icon *ngIf="parentCat.sex === 'm'" [icon]="faMars"></fa-icon>
            <fa-icon *ngIf="parentCat.sex === 'f'" [icon]="faVenus"></fa-icon>
          </a>
        </div>
      </li>
      <li class="nav-item dropdown" dropdown>
        <a class="nav-link dropdown-toggle" dropdownToggle id="kittensDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Kittens
        </a>
        <div class="dropdown-menu" *dropdownMenu aria-labelledby="kittensDropdown">
          <a *ngFor="let kittenCat of (catsState |async).kittens ; let j = index" class="dropdown-item" [routerLink]="['/kittens',j]">{{kittenCat.name}}
            <fa-icon *ngIf="kittenCat.sex === 'm'" [icon]="faMars"></fa-icon>
            <fa-icon *ngIf="kittenCat.sex === 'f'" [icon]="faVenus"></fa-icon>
          </a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="onSaveData()">SAVE DATA</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="onFetchData()">LOAD DATA</a>
      </li>
    </ul>
  </div>
</nav>
